bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation/refactorthis.metadata.v8.bin
/.vs/ProjectEvaluation/refactorthis.projects.v8.bin
/.vs/ProjectEvaluation/refactorthis.strings.v8.bin
/.vs/refactorthis
/.vs/refactorthis/DesignTimeBuild
/.vs/refactorthis/DesignTimeBuild/.dtbcache.v2
/.vs/refactorthis/FileContentIndex
/.vs/refactorthis/FileContentIndex/09cd47e1-5866-40ea-a869-92ef87a050b7.vsidx
/.vs/refactorthis/FileContentIndex/1b02fd0e-78cb-4f41-889d-9efdd71a2eb9.vsidx
/.vs/refactorthis/v17
/.vs/refactorthis/v17/.futdcache.v2
/.vs/refactorthis/v17/.suo
/.vs/refactorthis/v17/.wsuo
/.vs/refactorthis/v17/DocumentLayout.json
/RefactorThis.Domain/.vs/RefactorThis.Domain.csproj.dtbcache.json
